---
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <ContactForm />
  <div>
    <img
      src="/images/bg-paper.png"
      alt="Donation"
      class="w-full h-[14rem] object-cover"
    />
  </div>
  <Footer />
</Layout>
