---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import LineDecoration from "../components/LineDecoration.astro";
import Information from "../components/Information.astro";
import Models from "../components/Models.astro";
import Context from "../components/Context.astro";
import Allies from "../components/Allies.astro";
import Impact from "../components/Impact.astro";
import Constructor from "../components/Constructor.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <Hero />
  <LineDecoration />
  <Information />
  <Models />
  <Context />
  <Allies />
  <Impact />
  <Constructor />
  <div>
    <img
      src="/images/bg-paper.png"
      alt="Donation"
      class="w-full h-[14rem] object-cover"
    />
  </div>
  <Footer />
</Layout>
