---
export interface Props {
  backgroundColor?: string;
  titleColor?: string;
  subtitleColor?: string;
  backgroundImage?: string;
}

const {
  backgroundColor = "bg-gray-900",
  titleColor = "text-white",
  subtitleColor = "text-gray-200",
  backgroundImage = "/images/bg-about.png",
} = Astro.props;
---

<section
  class={`${backgroundColor} relative h-[80vh] mt-20 flex items-center justify-center overflow-hidden`}
>
  <!-- Background image -->
  <div
    class="absolute inset-0 bg-cover bg-no-repeat"
    style={`background-image: url('${backgroundImage}'); background-position: center 20%;`}
  >
    <div class="absolute inset-0 bg-black/50"></div>
  </div>

  <!-- Content -->
  <div class="relative z-10 max-w-7xl mx-auto px-4 overflow-hidden w-full">
    <div class="flex items-center justify-center w-full">
      <div
        class="z-10 w-full h-full flex items-center justify-center relative max-w-7xl mx-auto"
      >
        <img
          src="/images/decores/6.png"
          alt="About Hero"
          class="w-[60rem] h-full object-cover"
        />
        <div class="absolute top-0 left-0 z-10 h-full w-full">
          <div
            class="h-full flex flex-col items-center justify-center text-center"
          >
            <h1 class="text-6xl font-bold text-[#E1629F] mt-8">
              ¿Quienes somos?
            </h1>
            <p class="text-md my-2">
              <strong class="text-[#E1629F]">Fundación Libera México</strong> es una
              organización dedicada a <strong class="text-[#E1629F]"
                >combatir</strong
              > la trata de personas<br /> y transformar la vida de quienes han sobrevivido
              a este delito.<br />
              Trabajamos desde un enfoque integral que abarca <strong
                class="text-[#E1629F]">prevención, incidencia y atención</strong
              ><br /> especializada, con el objetivo de construir entornos más seguros
              y libres de violencia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
