---
import AlliesMarquee from "./scroll-allies/AlliesMarquee.astro";
---

<div
  class="w-full mx-auto overflow-hidden w-full relative bg-[#214296] py-8 min-h-[2rem]"
>
  <div class="max-w-7xl mx-auto relative px-4">
    <h2 class="text-lg font-bold text-center text-white">NUESTROS ALIADOS</h2>
  </div>
  <AlliesMarquee />
</div>
