<section
  class="w-full mx-auto overflow-hidden w-full relative bg-white pt-24 pb-16"
  style="background-image: url('/images/background/base.png'); background-size: cover; background-position: center;"
>
  <div class="max-w-7xl mx-auto relative px-4 -mt-24 z-[10]">
    <h1 class="text-5xl font-bold text-center text-[#f0559f]">
      CONTEXTO QUE NOS IMPULSA A
    </h1>
    <div
      style="background-image: url('/images/background/title.png'); background-size: contain; background-position: center;background-repeat: no-repeat;"
      class="w-full h-32 object-cover mx-auto flex items-center justify-center"
    >
      <h2 class="text-7xl font-bold text-center text-[#214296]">ACTUAR</h2>
    </div>
  </div>
  <div
    style="background-image: url('/images/background/cinta.png'); background-size: contain; background-position: center;background-repeat: no-repeat;"
    class="w-full h-[26rem] object-contain mx-auto -mt-24"
  >
    <div class="max-w-7xl mx-auto relative px-4 pt-[12rem]">
      <p
        class="text-center text-md text-gray-600 max-w-6xl mx-auto font-medium"
      >
        En el mundo, más de <strong class="text-[#214296]">50 millones</strong> de
        personas viven en esclavitud moderna, y <strong class="text-[#214296]"
          >27.6 millones</strong
        > son víctimas de trata o trabajo forzado. (ONU, 2023)
      </p>
      <p
        class="text-center text-md text-gray-600 max-w-6xl mx-auto font-medium pt-4"
      >
        <strong class="text-[#214296]"
          >En México, la situación es alarmante:</strong
        >
        <br />
        somos el primer lugar en Latinoamérica en consumo de pornografía y el segundo
        a nivel mundial en material de abuso sexual infantil. Casi la mitad de las
        víctimas son menores de edad y el <strong class="text-[#214296]"
          >74%</strong
        > son mujeres y niñas (CNDH, 2023).
      </p>
    </div>
  </div>
  <div class="max-w-7xl mx-auto relative px-4">
    <h3 class="text-3xl font-bold text-center text-[#f0559f]">
      Desde Libera México trabajamos para
    </h3>
    <h2 class="text-4xl font-bold text-center uppercase text-[#214296]">
      prevenir, proteger y reconstruir vidas,
    </h2>
    <p class="text-center text-md text-gray-600 max-w-6xl mx-auto font-medium">
      impulsando una sociedad informada y comprometida con la erradicación de la
      trata de personas
    </p>
  </div>
</section>
