---
const impact = [
  {
    title: "42 niñas, niños y adolescentes atendidos",
    image: "/images/childs/2.png",
  },
  {
    title: "+120,000 comidas servidas",
    image: "/images/impact/comidas%20servidas.png",
  },
  {
    title: "+ 2,000 terapias psicológicas y psiquiátricas.",
    image: "/images/impact/psicol%C3%B3gicas%20y%20psiqui%C3%A1tricas.jpeg",
  },
  {
    title: "+ de 400 consultas médicas",
    image: "/images/impact/atenci%C3%B3n%20m%C3%A9dica.jpeg",
  },
  {
    title: "+ 390 intervenciones educativas",
    image: "/images/impact/educacI%C3%93n.jpg",
  },
  {
    title: "+ 900 acompañamientos jurídicos",
    image: "/images/impact/acompa%C3%B1amiento%20juridico.png",
  },
];
---

<section
  class="w-full mx-auto overflow-hidden w-full relative bg-white min-h-[2rem]"
  style="background-image: url('/images/bg-paper.png'); background-size: cover; background-position: center;"
>
  <div class="mx-auto relative px-4">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      <div class="lg:col-span-1">
        <div
          style="background-image: url('/images/impact/bg.png'); background-size: cover; background-position: center;"
          class="w-full min-h-[360px] sm:min-h-[520px] lg:min-h-[90vh] object-cover relative"
        >
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 px-6 text-center"
          >
            <h1 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-[#f0559f]">
              Nuestro impacto
            </h1>
            <p class="text-xl sm:text-2xl lg:text-3xl text-[#214296] mt-4 mb-8">
              Avance 2025
            </p>
            <a
              href="/docs/Informe%20Anual%20LM.pdf"
              target="_blank"
              rel="noopener noreferrer"
              class="bg-[#214296] hover:bg-[#1a357a] text-white font-semibold py-3 sm:py-4 px-8 sm:px-10 rounded-full text-sm sm:text-lg transition-all transform hover:scale-105 shadow-lg uppercase tracking-wider inline-block"
            >
              INFORME ANUAL
            </a>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2">
        <div class="max-w-7xl h-full flex flex-col justify-center items-center mx-auto w-full">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {impact.map((item) => (
              <div class="w-[90vw] max-w-[21rem] sm:max-w-[14rem] mx-auto">
                <div class="bg-[#f5e2be] p-2">
                  <img
                    src={item.image}
                    alt="Impact"
                    class="w-full h-[12rem] sm:h-[9rem] lg:h-[10rem] object-cover"
                  />
                  <h2 class="text-base sm:text-lg lg:text-xl text-center py-6">
                    {item.title}
                  </h2>
                </div>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
