<section
  class={`py-20 h-screen w-full mx-auto overflow-hidden relative`}
  style="background-image: url('/images/background/mission-vision.png'); background-size: cover; background-position: center;"
>
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center justify-center mt-24 gap-x-8">
      <div class="w-auto h-[24rem] relative">
        <img
          src="/images/decores/7.png"
          alt="Mission Vision"
          class="w-full h-full object-cover"
        />
        <div class="absolute -bottom-8 -right-12 z-10">
          <img
            src="/images/decores/8.png"
            alt="Mission Vision"
            class="w-full h-[14rem] object-cover"
          />
        </div>
        <div
          class="absolute top-0 left-0 z-10 w-full h-full flex flex-col items-center justify-center px-10"
        >
          <div>
            <h1 class="text-5xl font-bold text-[#214296] mb-1">MISIÓN</h1>
            <p class="text-md text-gray-600 max-w-xl mx-auto font-medium">
              Proteger, acompañar y rehabilitar a niñas, niños, adolescentes y
              jóvenes sobrevivientes de trata y violencia, brindándoles
              herramientas para su reinserción social, y al mismo tiempo
              prevenir este delito mediante la capacitación y sensibilización de
              la sociedad.
            </p>
          </div>
        </div>
      </div>
      <div class="w-auto h-[18rem] relative">
        <img
          src="/images/decores/7.png"
          alt="Mission Vision"
          class="w-full h-full object-cover"
        />
        <div class="absolute -top-20 -right-8 z-10">
          <img
            src="/images/decores/3.png"
            alt="Mission Vision"
            class="w-full h-full object-cover"
          />
        </div>
        <div
          class="absolute top-0 left-0 z-10 w-full h-full flex flex-col items-center justify-center px-10"
        >
          <div>
            <h1 class="text-5xl font-bold text-[#E1629F] mb-1">VISIÓN</h1>
            <p class="text-md text-gray-600 max-w-xl mx-auto font-medium">
              Sumar a la erradicación de la trata de personas en México para que
              todas las personas vivan en libertad.
            </p>
          </div>
        </div>
      </div>
      <div class="w-auto h-[18rem] relative">
        <img
          src="/images/decores/7.png"
          alt="Mission Vision"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute top-0 left-0 z-10 w-full h-full flex flex-col items-center justify-center px-10"
        >
          <div>
            <h1 class="text-5xl font-bold text-[#0cc0df] mb-1">VALORES</h1>
            <p class="text-md text-gray-600 max-w-xl mx-auto font-medium">
              Empatía · Libertad · Amor · Justicia · Respeto · Unión ·
              Resiliencia · Tolerancia · Dignidad
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 max-w-4xl mx-auto">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold text-[#E1629F] mb-1">
          Como parte esencial de nuestra labor,
        </h1>
        <p class="text-xl mx-auto font-semibold text-center">
          operamos el <strong class="text-[#214296]"
            >único refugio en el país que brinda acompañamiento integral y de
            largo plazo</strong
          > a niñas, niños y adolescentes sobrevivientes de trata.
        </p>
      </div>
    </div>
  </div>
</section>
