<div class="py-20 h-screen w-full mx-auto overflow-hidden relative">
  <div
    class="absolute inset-0"
    style="background-image: url('/images/childs/1.png'); background-size: cover; background-position: center;"
  >
  </div>
  <div class="absolute inset-0 bg-black/40 z-1"></div>
  <div class="max-w-7xl mx-auto z-5">
    <div class="w-full">
      <h1 class="text-6xl font-bold text-center text-white relative">
        Video Institucional
        <div class="absolute -top-14 right-[16rem]">
          <img
            src="/images/decores/9.png"
            alt="Video Institucional"
            class="w-24 h-auto object-cover"
          />
        </div>
      </h1>
    </div>

    <div class="w-[130vh] flex items-center justify-center mx-auto relative">
      <img
        src="/images/background/video.png"
        alt="Video Institucional"
        class="w-full h-full object-contain"
      />
      <div
        class="absolute top-2 left-0 w-full h-full flex items-center justify-center"
      >
        <iframe
          width="80%"
          height="60%"
          src="https://www.youtube.com/embed/QjzmjC0kR10?si=PXdETGGPiGgSDvAC"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
