---
import "../styles/global.css";

export interface Props {
  title?: string;
}

const { title = "Fundación Libera México" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Fundación Libera México - Rescatando a la infancia mexicana"
    />
  </head>
  <body class="font-sans antialiased">
    <slot />
  </body>
</html>
